# Setup

## Downloading the Database

We are downloading an example SQLite database from https://www.sqlitetutorial.net/sqlite-sample-database/.

Run this cell. Then "refresh the filesystem to see the "music.db" file.

In [ ]:
import os

#DATA_DIR = os.getcwd() #> "/content"

print("---------------")
print("DOWNLOADING...")
!wget https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip

print("---------------")
print("UNZIPPING...")
!unzip "/content/chinook.zip" -d "/content/downloads"

print("---------------")
print("CLEANING UP")
!mv "/content/downloads/chinook.db" "/content/music.db"
!rm -rf "/content/downloads"
!rm "/content/chinook.zip"

---------------
DOWNLOADING...
--2021-10-01 14:57:09--  https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
Resolving www.sqlitetutorial.net (www.sqlitetutorial.net)... 151.139.128.11
Connecting to www.sqlitetutorial.net (www.sqlitetutorial.net)|151.139.128.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 305596 (298K) [application/zip]
Saving to: ‘chinook.zip’

chinook.zip         100%[===================>] 298.43K  --.-KB/s    in 0.1s

2021-10-01 14:57:09 (2.23 MB/s) - ‘chinook.zip’ saved [305596/305596]

---------------
UNZIPPING...
Archive:  /content/chinook.zip
  inflating: /content/downloads/chinook.db
---------------
CLEANING UP

## Connecting to the Database

In [ ]:
import os
import sqlite3

DB_FILEPATH = os.path.join(os.getcwd(), "music.db")

connection = sqlite3.connect(DB_FILEPATH)
connection.row_factory = sqlite3.Row
print("CONNECTION:", connection)

CONNECTION: <sqlite3.Connection object at 0x7f7b8e38f570>

## Database Helper Code

In [ ]:
from pandas import DataFrame, read_sql_query

# References

## Schema Diagram



Here is the Entity Relationship Diagram (ERD) for this database:

![](https://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg)

# Challenges

## Example

**Question:** 

"What are the names of all the genres?"

**Query:**

```sql
SELECT genreId, Name
FROM genres
```

**Code (below)**:

In [ ]:
sql = """
    SELECT genreId, Name 
    FROM genres
"""
# https://pandas.pydata.org/docs/reference/api/pandas.read_sql_query.html
read_sql_query(sql, connection)

    GenreId                Name
0         1                Rock
1         2                Jazz
2         3               Metal
3         4  Alternative & Punk
4         5       Rock And Roll
5         6               Blues
6         7               Latin
7         8              Reggae
8         9                 Pop
9        10          Soundtrack
10       11          Bossa Nova
11       12      Easy Listening
12       13         Heavy Metal
13       14            R&B/Soul
14       15   Electronica/Dance
15       16               World
16       17         Hip Hop/Rap
17       18     Science Fiction
18       19            TV Shows
19       20    Sci Fi & Fantasy
20       21               Drama
21       22              Comedy
22       23         Alternative
23       24           Classical
24       25               Opera


## Part I: Basic Queries

1. Who are our customers? (what are their names?)
2. Which customers are from the US?
3. Which customers are from either the US or the UK?
4. For all customers in the US or UK, sort by country, then state (HINT: use `ORDER BY` clause).

In [ ]:
sql = """
    
    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)

TypeError: ignored

In [ ]:
sql = """
    
    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)

In [ ]:
sql = """
    
    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)

In [ ]:
sql = """
    
    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)


## Part II: Aggregations

1. How many customers do we have total?
2. How many customers are from the US?
3. For all US customers, how many are in each state?
4. How many customers in each country?
5. Which 5 countries have the most customers? Sort them in descending order of their customer count.

In [ ]:
sql = """
    
    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)

In [ ]:
sql = """
    
    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)

In [ ]:
sql = """
    
    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)

In [ ]:
sql = """
    
    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)

In [ ]:
sql = """
    
    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)


## Part III: Subqueries

1. On average, how many customers in each country?

In [ ]:
sql = """
    
    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)


## Part IV: Multi-Table Joins



1. For each album, what is the name of the artist? Expect 347 rows (row per album).

In [ ]:
sql = """
    
    -- TODO: write some SQL here

"""
read_sql_query(sql, connection)

![](https://camo.githubusercontent.com/52e1d3a424ed13892b4105190cd486f320ccc98b00ba33e40e36f678f23f6c9e/68747470733a2f2f7777772e696f6e6f732e636f6d2f6469676974616c67756964652f66696c6561646d696e2f4469676974616c47756964652f53637265656e73686f74735f323031382f4f757465722d4a6f696e2e6a7067)